// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  background-color: $secundary-background-color;
  @media (min-width: $breakpoint-medium) {
    height: 115px;
  }
  .footer__info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-top: 22px;
    padding-left: 25px;
    @media (min-width: $breakpoint-medium) {
      flex-direction: row-reverse;
    }
  }
}

.info__logo {
  font-family: $title-font;
  color: $secundary-text-color;
  padding: 0;
  margin: 0;
  @media (min-width: $breakpoint-medium) {
    position: relative;
    top: 32px;
    margin: 0 50px 0 75px;
    box-sizing: border-box;
  }
}

.info__list {
@include reset-list;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-medium) {
    flex-direction: row;
    position: relative;
    top: 20px;
    padding: 15px;
    gap: 15px;
    margin: 0;
  }
  .list__unit{
    margin-bottom: 7px;
    .list__links {
    color: $secundary-text-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .fa-handshake-angle {
      margin-top: 9px;
    }
    &--txt {
      margin: 0;
      padding-left: 10px;
      padding-right: 5px;
      }
    &--light {
      font-weight: 400;
      }
    }
  }
}



