// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  display: flex;
  flex-direction: column;
  &__back {
    position: relative;
    top: 45px;
    left: 20px;
  }
  &__logo {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}



