// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  display: flex;
  justify-content: center;
  padding: 20px;
}

