// -----------------------------------------------------------------------------
// This file contains all styles related to the main division of the site/application.
// -----------------------------------------------------------------------------

.hero-restaurant{
  .hero-img {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }
}

.menu {
  background-color: $main-background-color;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: 1;
  margin-top: -60px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $breakpoint-medium) {
    margin-left: 30px;
    margin-right: 30px;
  }
  @media (min-width: $breakpoint-large) {
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 200px;
    padding-right: 200px;
  }
}

.restaurant-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  margin-right: 20px;;
  &__txt {
    margin: 0;
    padding: 0;
    font-family: $title-font;
    font-size: 28px;
  }
  .fa-heart {
    margin-top: 18px;
  }
  @media (min-width: $breakpoint-medium) {
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
  }
}

.menu__title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
  padding-top: 25px;
}

.green-line {
  padding: 0;
  margin-bottom: 15px;
  width: 40px;
  border-bottom: solid 3px $secundary-highlight;
}

.menu__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $secundary-text-color;
    height: 72px;
    border-radius: 15px;
    box-shadow: $shadow;
    padding: 0 15px;
    margin-top: 10px; 
    .menu__card-title {
      font-weight: 500;
    }
    .menu__sub-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .menu__card-subtitle {
        font-size: 15px;
      }
      .menu__sub-price--price {
        margin: 0;
        padding: 0;
      }
    }
  }

.btn-order {
  display: flex;
  justify-content: center;
  margin: 40px;
}